<!DOCTYPE html>
<html ng-app="DIApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Hello eshang test project</title>
  </head>
  <body>
    <h1>Hello eshang--how are you--i am doing fine</h1>

  <h1> My first angular appa </h1>
  <div ng-controller="DIController">
  <input type="text" ng-model="name">
    {{name|uppercase}} value is {{ namevalue| currency : $$ : 3}}
    custome fileter  says {{ sayhello()}} <br/>
    check fileter says {{ sayhello() | check : "tea" :"milk"}}
    <button ng-click="showNumberofWatchers()"> showCounters </button>
    <button ng-click="setFullName()"> set Full Name </button>

    Full Name is  {{ :: FullName }}
    <button ng-click="logname()"> log name </button>
    <button ng-click="logFullName()"> log Full Name </button>
    <!-- <h1> shopping list 1</h1>
    <li ng-repeat="item in shoppingList1"> {{item}} </li> -->

    <h1> shopping list 2</h1>
    <input type="text" ng-model="search">
    <li ng-repeat="item in shoppingList2 |filter :search"> {{$index +1}}. {{item.name}} of quantity is {{item.quantity}} </li>

    <input type="text" ng-model="newname">
    <input type="text" ng-model="newquantity">
    <button ng-click="addlist2()"> add item to shoppiglist2 </button>

  </div>
  </body>
</html>
